<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Lugrasimo&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
    <link href="../styles/main.css" rel="stylesheet">
    <title>Home</title>
</head>
<body id="home">

<nav class="conainer-space-between-row nav-top">
    <ul class="container-center-center-row logo-home">
        <li>
            <img src="../../images/logo_alpa_event_black_circle_big.svg" class="AlpaEvent-logo">
        </li>
        <li class="logo-text">
            AlpaEvent
        </li>
    </ul>

    <ul class="container-center-center-row tekst-home">
     
        <li class="nav-tekst">
            EVENTS  
        </li>
        <li class="nav-tekst">
            ROOMS
        </li>
        <li class="nav-tekst">
            FORUM
        </li>
    </ul>

    <div class="container-center-center-row login-register-home" >
        
        <button class ="login-home" type="button">
            Log In
        </button>

        <button class="register-home" type="button">
            Register
        </button>
    </div>
</nav>
    
</body>
</html>