*{

    font-family: 'Cairo',sans-serif;
    font-size: 14px;
    font-optical-sizing: auto;
    font-style: normal;
    margin:0;
    padding:0;
    box-sizing:border-box;
}


nav > ul {
    list-style-type: none; 
    padding-left: 0;
}

:root {
    --gradient-bg: linear-gradient(#22231B 35%, #193F55 85%);
}


#home{
    background: var(--gradient-bg);
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
}


.logo-home
{
    
    margin-left: 1.5em;
    gap: 1em;
}

.tekst-home{
    
    gap: 4em;
}

.nav-tekst{
    font-size:2vh;
}

.nav-top
{
    margin-top:1.5em;
    width:100%;
}
.nav-tekst
{
    color:#D9D9D9;
}

.login-home,.register-home{

    border: 2px solid #51555B;
    border-radius: 2em;
    font-size:2vh;  
    border-radius: 0.2em;
    width:8em;
    height: 2.5em;
    


}
.register-home:hover
{
    transform: scale(1.1);
    cursor: pointer;
}

.login-home:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.login-home{

    color: #D9D9D9;
    background: none;
}

.register-home{

    background-color: #D9D9D9;
    
}

.login-register-home{
    
    margin-right:1.5em;
    gap:1em
    
}

@media (max-width:850px)
{
    #left-register
    {
        flex:0
    }
}

/* Podzielic na osobne styleshet */